html, body {
  height: 100%;
}

body {
  margin:0;
  padding-bottom: 20px;
  height: 15vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADER STYLES */

header h1 {
  margin-top:0;
  font-size: 1.5em;
}

#wrapper-header {
  padding-top: 20px;
  background-color: #2C8FFF;
}


/* BODY STYLES */

#main-body {
  margin-top: 15vh;
}

#wrapper-body {
  min-height: calc(85vh - 388px);
}

.toggler {
  cursor: pointer;
}

/* LOGOS AND IMAGES */

#logo-home {
  max-height: 40vh;
  max-width: 40vw;
}

#logo-header {
  max-height: 15vh;
  max-width: 15vw;
}

.info-icon {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.list-star-bullets {
  list-style-image: url("../img/star.png");
}

/* MAP */
#map {
  height: 100%;
  min-height: 500px;
  width: 100%;
}

/**********************/

/* Misc */
.pointer {
  cursor: pointer;
}

